  body {
    background-image: url("images/BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
  }

  h1 {
    font-family: Georgia, serif;
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
  }

  article {
    border: 2px solid white;
    margin: 100px 100px 100px 100px;
    background-color: rgb(32, 32, 32, .75);
    color: white;
    padding: 30px;
  }


  h2 {
    font-weight: bold;
  }

  h3 {
    text-decoration: underline;
  }
  