  body {
    background-image: url("images/BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
  }

  h1 {
    font-family: Georgia, serif;
    border-bottom: 1px solid #ffffff;
  }

  article {
    border: 2px solid white;
    margin: 50px 50px 50px 100px;
    background-color: rgb(32, 32, 32, .75);
    color: white;
  }

  