b {
    background-image: radial-gradient(circle, rgba(51,200,255,1) 1%, rgba(51,56,57,1) 96%);
    background-size: auto;
  }

  h1 {
    font-family: Georgia, serif;
    border-bottom: 1px solid #000;
  }
